@import 'sanitize.css/sanitize.css';
@import 'tailwindcss';

:root {
   --neon: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #0602fc, 0 0 30px #0602fc, 0 0 40px #0602fc;
}

body {
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
